html,body
{
    height: 100vh;
    /* font-family: 'Poppins'; */
    position:relative;
    z-index: 0;
}
.disp {
    display: block;
  }
  #selColor button {
    width: 100%;
    display: block;
    margin-bottom: 5px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    background-color: none;
  }

  #selColor {
    position: absolute;
    top: 27.8%;
    width: 10%;
    /* transition: all 1s ease-in-out; */
    display: none;
    background-color: none;
    padding: 12px 16px;
    z-index: 1;
  }
.color__interface{
    width:100%;
    height: 15%;
    display:flex;
    justify-content:space-evenly;
    align-items: center;
}
.color__interface button{
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    width: 11.8%;
    height: 70%;
    background-color: #0cf;
    border-radius: 10px;
    align-items: center;
    color: #fff;
    text-transform: uppercase;
    font-size: 1rem;
    letter-spacing: .15rem;
    transition: all .3s;
}
.color__interface button:hover{
  background-color: rgb(1, 170, 213);
}
.color__interface a{
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    width: 100%;
    margin: 5px;
    height: 70%;
    border: 2px solid;
    background-color: none;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    padding: .75rem 1.25rem;
    color: #000;
    font-size: 1rem;
    transition: all .5s ease-in-out;
    position: relative;
    text-transform: uppercase;

}
  /* .color__interface button:hover {
    background-color: none;
  } */
.control__body{
    width:100%;
    height: 15%;
    display:flex;
    justify-content:space-evenly;
    align-items: center;
    
}
.control__body button{
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    width: 11.8%;
    height: 70%;
    background-color: #0cf;
    border-radius: 10px;
    display: inline-block;
    padding: .75rem 1.25rem;
    color: #fff;
    text-transform: uppercase;
    font-size: 1rem;
    letter-spacing: .15rem;
    transition: all .3s;
    position: relative;
    overflow: hidden;
}
.control__body button:hover {
  background-color: rgb(0, 184, 230);
}
.webgl
{
    position: fixed;
    z-index: -1;
    top: 0;
    left: 0;
    outline: none;
}
#colorRed:hover{
    letter-spacing: .15rem;
background-color: #ff0000;
}
#colorGreen:hover{
    letter-spacing: .15rem;
  background-color: #4dff00;
}
#colorBlue:hover{
    letter-spacing: .15rem;
  background-color:#43578f;
}
#colorYellow:hover{
    letter-spacing: .15rem;
  background-color: #fcb103;
}
#colorBlack:hover{
    letter-spacing: .15rem;
  color: #fff;
  background-color: #000;
}
#colorGrey:hover{
  letter-spacing: .15rem;
  color: #e1e1e1;
  background-color:#595957;
}
