html,body
{
    height: 100vh;
    /* font-family: 'Poppins'; */
    position:relative;
    z-index: 1;
}
.color__interface{
    width:100%;
    height: 15%;
    display:flex;
    justify-content:space-evenly;
    align-items: center;
    
}
.color__interface button{
    width: 11.8%;
    height: 70%;
    background-color: #0cf;
    border-radius: 10px;
    display: inline-block;
    padding: .75rem 1.25rem;
    color: #fff;
    text-transform: uppercase;
    font-size: 1rem;
    letter-spacing: .15rem;
    transition: all .3s;
    position: relative;
    overflow: hidden;
}
.control__body{
    width:100%;
    height: 15%;
    display:flex;
    justify-content:space-evenly;
    align-items: center;
    
}
.control__body button{
    width: 11.8%;
    height: 70%;
    background-color: #0cf;
    border-radius: 10px;
    display: inline-block;
    padding: .75rem 1.25rem;
    color: #fff;
    text-transform: uppercase;
    font-size: 1rem;
    letter-spacing: .15rem;
    transition: all .3s;
    position: relative;
    overflow: hidden;
}

.webgl
{
    position: fixed;
    z-index: -1;
    top: 0;
    left: 0;
    outline: none;
}
